.filter {
  margin-top: 20px;
}

.filter-title {
  display: flex;
  align-items: center;

  mat-icon {
    color: #9f9e9a;
    margin-right: 8px;
    font-size: 19px;
    font-weight: bold;
    height: 19px;
    width: 19px;
  }

  span {
    font-weight: 500;
  }
}

mat-slider {
  width: 100%;
  margin-top: 18px;
}


.sort-container {
  margin-bottom: 20px;
}
