<div class="filter row">
  <div class="col-md-4">
    <div class="filter-title">
      <mat-icon>euro_symbol</mat-icon>
      <span>
      Max price
      </span>
    </div>
    <mat-slider
      (change)="changeSlider($event, 'filterPrice')"
      min="80" max="1000" step="5" [value]="selectedPrice" thumbLabel color="primary">
    </mat-slider>
  </div>

  <div class="col-md-4">
    <div class="filter-title">
      <mat-icon>sentiment_satisfied</mat-icon>
      <span>
      Min rating
      </span>
    </div>
    <mat-slider
      (change)="changeSlider($event, 'filterRate')"
      [value]="selectedRate"
      min="0" max="10" step="1" thumbLabel color="primary">
    </mat-slider>
  </div>

  <div class="col-md-4">
    <div class="filter-title">
      <mat-icon>near_me</mat-icon>
      <span>
      Distance from city center
      </span>
    </div>
    <mat-slider
      (change)="changeSlider($event, 'filterDistance')"
      min="5" max="50" step="5"
      value="50"
      [value]="selectedDistance"
      [displayWith]="formatKilometer"
      thumbLabel color="primary">
    </mat-slider>
  </div>

  <div class="col-12 sort-container">
    Sort by
    <select [(ngModel)]="sortType" (change)="resortList()">
      <option value="price">Price</option>
      <option value="distance">Distance</option>
      <option value="rate">Avg. User rating</option>
    </select>

    <span *ngIf="hotels">
    {{hotels?.length}} hotels,
      <a [routerLink]
         queryParamsHandling="merge"
         [queryParams]="{greatDeal: 'true'}">
        {{getGreatDealHotels(hotels).length}} with great deals
      </a>
  </span>
  </div>

</div>
