<div class="hotel">
  <div class="row">
    <div class="image-container col-md-3 col-xs-4 col-sm-4">
      <div *ngIf="hotel.greatOffer" class="great-offer-ribbon">
        GREAT OFFER
      </div>
      <figure>
        <img [src]="hotel.image+',v'+hotel.id"
             [alt]="hotel.title"
             class="object-fit-cover"
             onerror="this.src='/assets/image-placeholder.png'"/>
      </figure>
      <button class="favorite-button" (click)="likeHotel()">
        <mat-icon>{{hotel.favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
    </div>

    <div class="hotel-information col-md-6 col-xs-7 col-sm-4 px-4">
      <h2>{{hotel.title}}</h2>
      <app-star-rating [activeStars]="hotel.star"></app-star-rating>
      <div class="location">
        <mat-icon>near_me</mat-icon>
        {{hotel.location}}
        ({{hotel.distance}}km from city center)
      </div>
      <app-user-rating [userRate]="hotel.userRating"></app-user-rating>

      <ul class="review-keywords">
        <li *ngFor="let keyword of hotel.reviewKeywords">{{keyword}}</li>
      </ul>
    </div>

    <div class="price-information col-md-3 col-xs-12 col-sm-4 pb-2">
      <div class="price-without-discount">€{{hotel.sourceLinks[0].price}}</div>
      <div class="price-discount" *ngIf="hotel.sourceLinks">
        <span>€</span>{{hotel.sourceLinks[0].price|calculateDiscount:hotel.sourceLinks[0].discountPercentage}}
      </div>

      <div class="free-cancellation" *ngIf="hotel.freeCancellation">Free cancellation</div>

      <a [href]="hotel.sourceLinks[0].link" class="first-reserve-link"
         target="_blank">
        {{hotel.sourceLinks[0].title}}
        <mat-icon>trending_flat</mat-icon>
      </a>

      <div class="reserve-links" *ngIf="hotel.sourceLinks.length>2">
        <a *ngFor="let source of hotel.sourceLinks | slice:1"
           [routerLink]="source.link" target="_blank">
          <span>{{source.title}}</span>
          <span>€{{source.price|calculateDiscount:source.discountPercentage}}</span>
        </a>
      </div>

      <a class="show-more-button" (click)="showDetail()">
        <span>Show Detail</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
    </div>
  </div>
  <div *ngIf="detailVisibility" class="row description-row">
    <div class="col-12">
      <p>
        {{hotel.description}}
      </p>
    </div>
  </div>
</div>
