@import "../shared/style/global";

.hotel {
  transition: height 0.3s ease;
  background: white;
  margin-bottom: 25px;

  .image-container {
    position: relative;

    figure {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 180px;
    }

    .favorite-button {
      position: absolute;
      top: 0;
      right: 15px;
      background: transparent;
      border: none;
      width: 41px;
      color: white;
      height: 41px;
      text-align: center;
      outline: none;
      padding-top: 5px;

      mat-icon {
        font-size: 28px;
        width: 28px;
        height: 28px;
      }
    }

    .great-offer-ribbon {
      width: 115px;
      height: 26px;
      line-height: 26px;
      padding-left: 15px;
      position: absolute;
      left: 7px;
      top: 20px;
      background: $secondaryColor;
      z-index: 2;
      color: white;
      font-weight: bold;

      &:before, &:after {
        content: "";
        position: absolute;
      }

      &:before {
        height: 0;
        width: 0;
        top: 26px;
        left: 0.1px;
        border-top: 9px solid #76351b;
        border-right: 9px solid transparent;
        transform: rotate(90deg);
      }

      &:after {
        height: 0;
        width: 0;
        right: -14.5px;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 15px solid $secondaryColor;
      }
    }
  }

  .hotel-information {
    h2 {
      margin: 5px 0;
    }

    .location {
      margin: 8px 0;
      display: flex;
      align-items: center;
      color: $primaryColor;

      mat-icon {
        margin-right: 13px;
        font-size: 19px;
        height: 19px;
        width: 19px;
      }
    }

    .review-keywords {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin-top: 10px;
      flex-wrap: wrap;

      li {
        background: #f3f3f3;
        font-size: 12px;
        font-weight: 500;
        padding: 6px 13px;
        border-radius: 19px;
        margin-right: 7px;
        margin-top: 7px;
      }
    }
  }

  .price-information {
    display: flex;
    border-left: 1px solid $greyColor;
    padding-top: 8px;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .price-without-discount {
      color: $secondaryColor;
      font-weight: 500;
      font-size: 14px;
      text-decoration: line-through;
    }

    .price-discount {
      font-weight: 600;
      font-size: 32px;
      margin-top: 4px;
      height: 25px;

      span {
        font-weight: 400;
        margin-right: 2px;
      }
    }

    .free-cancellation {
      color: green;
      font-weight: 500;
      margin-top: 6px;
    }

    .first-reserve-link {
      margin-top: 12px;
      background: $secondaryColor;
      color: white;
      border-radius: 50px;
      width: 220px;
      padding: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      text-decoration: none;
    }

    .reserve-links {
      display: flex;
      flex-direction: column;
      margin-top: 18px;
      width: 100%;
      padding: 12px;

      a {
        color: black;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 2px;
        justify-content: space-between;

        &:focus, &:hover {
          text-decoration: underline;
        }
      }
    }

    .show-more-button {
      user-select: none;
      margin-top: auto;
      display: flex;
      font-weight: 600;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .description-row {
    p {
      padding: 15px;
    }
  }
}
