@import "../../shared/style/global";

.filter-button {
  border-radius: 3px;
  padding: 7px 14px;
  color: rgb(0, 119, 255);
  background: rgb(247, 251, 255);
  border: 1px solid rgb(0, 119, 255);
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 126px;
  text-decoration: none;

  mat-icon {
    margin-right: 5px;
  }
}

.filter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;

  .toolbar {
    background: $primaryColor;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 15px;

    * {
      display: block;
      color: white;
      margin: 0;
    }

    mat-icon {
      margin-right: 12px;
    }
  }

  .modal-container {
    padding: 15px;

    .rating-type {
      margin-bottom: 25px;

      h4 {
        font-weight: 500;
        margin-bottom: 4px;
      }

      .button-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        button {
          width: 52px;
          margin-right: 5px;
          padding: 8px 0;
          text-align: center;
          border-radius: 3px;
          color: #9f9f9f;
          border: 1px solid #9f9f9f;
          background: white;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;

          mat-icon {
            font-size: 14px;
            width: 14px;
            height: 14px;
          }
        }
      }

    }

    .guest-rating {
      .button-list {
        .active {
          background: $primaryColor;
          border-color: $primaryColor;
          color: white;
        }
      }
    }

    .star-rating {
      .button-list {
        .active {
          background: #f1bf00;
          border-color: #f1bf00;
          color: white;
        }
      }
    }

    .button-container {
      .apply-button {
        background: $primaryColor;
        text-decoration: none;
        color: white;
        font-weight: 500;
        padding: 8px 5px;
        border-radius: 4px;
        display: block;
        text-align: center;
      }
    }

  }
}
