<div class="row">
  <div class="col-12">
    <a class="filter-button m-3"
       [routerLink]
       queryParamsHandling="merge"
       [queryParams]="{filterModal: 'open'}">
      <mat-icon>tune</mat-icon>
      <span>Filter by</span>
    </a>
  </div>
</div>

<div *ngIf="isFilterPage" class="filter-modal">
  <div class="toolbar">
    <a
      [routerLink]
      queryParamsHandling="merge"
      [queryParams]="{filterModal: 'close'}">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h3>Filter</h3>
  </div>

  <div class="modal-container">
    <div class="rating-type guest-rating">
      <h4>Guest Rating</h4>
      <div class="button-list">
        <button *ngFor="let item of guestRating"
                [class.active]="item.active"
                (click)="setGuestRate(item.value)">{{item.title}}</button>
      </div>
    </div>

    <div class="rating-type star-rating">
      <h4>Star Rating</h4>
      <div class="button-list">
        <button *ngFor="let item of starRating"
                [class.active]="item.active"
                (click)="activateStar(item.value)">{{item.title}}
          <mat-icon>star</mat-icon>
        </button>
      </div>
    </div>

    <div class="button-container">
      <a class="apply-button" [routerLink]="['/']"
         [queryParams]="{
       'filterStar': getActiveStars(starRating).join(','),
       'filterRate': getActiveGuestRate(guestRating)}">
        Apply
      </a>
    </div>
  </div>
</div>
