// Color scheme:
$primaryColor: #0096e8;
$secondaryColor: #fa6e3d;
$greyColor: #f3f3f3;

/* using include-media SASS library for better controlling over media queries:
(https://github.com/eduardoboucas/include-media, http://include-media.com)
 */

@import "../../../../node_modules/include-media/dist/include-media";
$breakpoints: (
  mobile-s: 321px,
  mobile-m: 376px,
  mobile-l: 426px,
  mobile-xl: 601px,
  tablet: 769px,
  laptop: 1025px,
  laptop-l: 1441px,
  extra: 2561px);
