<div class="rating">
  <span class="active-star"
        *ngFor="let i of fiveStarsArray | slice:0:activeStars">☆</span>

  <span *ngFor="let i of fiveStarsArray | slice:activeStars:5">☆</span>
</div>
