// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$findhotel-primary: mat-palette($mat-indigo);
$findhotel-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$findhotel-warn: mat-palette($mat-blue);

// Create the theme object (a Sass map containing all of the palettes).
$findhotel-theme: mat-light-theme($findhotel-primary, $findhotel-accent, $findhotel-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($findhotel-theme);

@import "app/shared/style/global";

html, body {
  height: 100%;
  background: $greyColor !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.object-fit-cover {
  /*Source: https://stackoverflow.com/questions/34713763/force-an-image-to-fit-and-keep-aspect-ratio
  */
  line-height: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}
