<div class="main-container">
  <div class="container">
    <app-search-filter [hotels]="hotels"></app-search-filter>
    <!--<app-price-histogram></app-price-histogram>-->
    <app-hotel *ngFor="let hotel of hotels" [hotel]="hotel"></app-hotel>
  </div>
</div>
